@charset "UTF-8";
/*
em html é id = em css é # 
em html é class = em css é .
*/

body{
    background-color: rgb(196, 108, 201);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1{
    color: rgb(222, 33, 131);
}

h1#principal{
         text-align: center;
         background-color: rgb(73, 45, 80);
         
}

h2{
    color: rgb(116, 0, 33);
}
.basico{
       color: rgb(212, 43, 43);
       font-weight: bold;
}
.intermediario{
       color: rgb(119, 41, 56);
}
.avançado{
       color: rgb(74, 23, 29);
}