 *{
    margin: 0px;
    padding: 0px;
 }

body{
    font-family: 'Times New Roman', Times, serif;
    background-color:#EBE5C5;
    text-align: justify;
}

header{
     background-color: rgb(36, 120, 82);
     color: white;
     height: 155px;
     padding-top: 30px;
    
}

header > h1{
      text-align: center;
      padding-top: 10px;
}
header > p{
         text-align: center;
         padding-top: 25px;

}
p{
    margin-right: 10px;
    margin-left: 10px;
}
nav > a {
     text-decoration: none;
     color: white;
     margin-right: 10px;
     
    
}
nav{
    padding-top: 25px;
}

main{
     background-color: white;
    max-width: 900px;
     text-align: justify;
     margin: auto;
    
    
   }
  
   article > h1{
               padding-top: 15px;
               padding-bottom: 15px;
   }
    
   article > h2{
               padding-top: 10px;
               padding-bottom: 10px;
   }
   
   .dan img {
            display: block;
            padding-top: 10px;
            margin: auto;

        
        }

        .irina img{
            display: block;
            margin: auto;
            padding: 10px;
        }
        .bug img{
            display: block;
            margin: auto;
        }
       .video-conteiner{
           
            background-color: #063D1E;
             max-height: 700px;
            max-width:900px;
            margin-top: 10px;
            padding-bottom: 50px;
            
       }
       
        .video-conteiner iframe{
            display: block;
            height:50% ;
            width:50%;
            margin: auto;
             
        }
  
   
