

    
        body{
        background-color: blue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
      h1{
        color:chocolate;
        background-color: aquamarine;
      }
      h2{
        color: rgb(147, 53, 53);
      }
      p{
        text-align: justify;
      }
   